
.slide1 {
  background-image: url("../01_Images/UCL_BA/Amber_Said.png");
}
.slide2 {
  background-image: url("../01_Images/UCL_BA/Andrea_Mentari.png");
}
.slide3 {
  background-image: url("../01_Images/UCL_BA/Anna_Fajnorova.png");
}
.slide4 {
  background-image: url("../01_Images/UCL_BA/Anna_Stylianou.png");
}
.slide5 {
  background-image: url("../01_Images/UCL_BA/Antoine_Verdier.jpg");
}


.slide6 {
  background-image: url("../01_Images/UCL_BA/Anush_Sharyan.png");
}
.slide7 {
  background-image: url("../01_Images/UCL_BA/Ayush_Joshi.png");
}
.slide8 {
  background-image: url("../01_Images/UCL_BA/Batool_Aljufairi.PNG");
}
.slide9 {
  background-image: url("../01_Images/UCL_BA/Ben_Sidwell.png");
}
.slide10 {
  background-image: url("../01_Images/UCL_BA/Bingyu_Pang.png");
}


.slide11 {
  background-image: url("../01_Images/UCL_BA/Bulat_Garaev.png");
}
.slide12 {
  background-image: url("../01_Images/UCL_BA/Carina_Tiedemann.png");
}
.slide13 {
  background-image: url("../01_Images/UCL_BA/Celine_Trampe.png");
}
.slide14 {
  background-image: url("../01_Images/UCL_BA/Chang_Yin.png");
}
.slide15 {
  background-image: url("../01_Images/UCL_BA/Charmian_Song.png");
}


.slide16 {
  background-image: url("../01_Images/UCL_BA/Chen_Lu.png");
}
.slide17 {
  background-image: url("../01_Images/UCL_BA/Chenxi_Zhao.png");
}
.slide18 {
  background-image: url("../01_Images/UCL_BA/Ching-Wen_Hung.png");
}
.slide19 {
  background-image: url("../01_Images/UCL_BA/Christina (Wei Wei)_Chen.JPG");
}
.slide20 {
  background-image: url("../01_Images/UCL_BA/Christopher_Glaeser-Yalen.png");
}


.slide21 {
  background-image: url("../01_Images/UCL_BA/Christopher_Kindl.png");
}
.slide22 {
  background-image: url("../01_Images/UCL_BA/Christopher_Mort.png");
}
.slide23 {
  background-image: url("../01_Images/UCL_BA/Ciaran_Downes.png");
}
.slide24 {
  background-image: url("../01_Images/UCL_BA/Clemens_Kasen.JPG");
}
.slide25 {
  background-image: url("../01_Images/UCL_BA/Daniela_Avramioti.png");
}


.slide26 {
  background-image: url("../01_Images/UCL_BA/Deeksha_Chahar.png");
}
.slide27 {
  background-image: url("../01_Images/UCL_BA/Dieyan_Wang.png");
}
.slide28 {
  background-image: url("../01_Images/UCL_BA/Disa_Ramadhina.png");
}
.slide29 {
  background-image: url("../01_Images/UCL_BA/Dongqi_Qin.png");
}
.slide30 {
  background-image: url("../01_Images/UCL_BA/Elvira_Ternjack.png");
}


.slide31 {
  background-image: url("../01_Images/UCL_BA/Faisal_Noor.png");
}
.slide32 {
  background-image: url("../01_Images/UCL_BA/Franklin Tianhao_Wang.png");
}
.slide33 {
  background-image: url("../01_Images/UCL_BA/Freddie_Reid.png");
}
.slide34 {
  background-image: url("../01_Images/UCL_BA/Gary_Parung.png");
}
.slide35 {
  background-image: url("../01_Images/UCL_BA/Geng (Esvi)_Huang.png");
}


.slide36 {
  background-image: url("../01_Images/UCL_BA/Genshen_Liu.png");
}
.slide37 {
  background-image: url("../01_Images/UCL_BA/Giacomo_Costantini.png");
}
.slide38 {
  background-image: url("../01_Images/UCL_BA/Greg_Acosta.png");
}
.slide39 {
  background-image: url("../01_Images/UCL_BA/Greg_Roquette.png");
}
.slide40 {
  background-image: url("../01_Images/UCL_BA/Haiqing_Zhang.png");
}


.slide41 {
  background-image: url("../01_Images/UCL_BA/Helen_Lai.JPG");
}
.slide42 {
  background-image: url("../01_Images/UCL_BA/Hengqing_Xu.png");
}
.slide43 {
  background-image: url("../01_Images/UCL_BA/Islam Ira_Ashia.png");
}
.slide44 {
  background-image: url("../01_Images/UCL_BA/Jake_Rutherford.png");
}
.slide45 {
  background-image: url("../01_Images/UCL_BA/Jiaxin_Xie.png");
}

.slide46 {
  background-image: url("../01_Images/UCL_BA/Jiayi_Fu.png");
}
.slide47 {
  background-image: url("../01_Images/UCL_BA/Jibek_Nurgazieva.png");
}
.slide48 {
  background-image: url("../01_Images/UCL_BA/Jing_Liao.png");
}
.slide49 {
  background-image: url("../01_Images/UCL_BA/Jingya_Yang.png");
}
.slide50 {
  background-image: url("../01_Images/UCL_BA/Jinyuan_Zhang.png");
}

.slide51 {
  background-image: url("../01_Images/UCL_BA/Jonas_Sunde.JPG");
}
.slide52 {
  background-image: url("../01_Images/UCL_BA/Jordan_Otty.png");
}
.slide53 {
  background-image: url("../01_Images/UCL_BA/Josh_Nlewedum.png");
}
.slide54 {
  background-image: url("../01_Images/UCL_BA/Joshua_Ong.png");
}
.slide55 {
  background-image: url("../01_Images/UCL_BA/Juan_Ruge.png");
}

.slide56 {
  background-image: url("../01_Images/UCL_BA/Julien_van Hollebeke.png");
}
.slide57 {
  background-image: url("../01_Images/UCL_BA/Junhan_Zhang.png");
}
.slide58 {
  background-image: url("../01_Images/UCL_BA/Junqian_Deng.png");
}
.slide59 {
  background-image: url("../01_Images/UCL_BA/Kamila_Jasinska.png");
}
.slide60 {
  background-image: url("../01_Images/UCL_BA/Karim_Chorfi.png");
}

.slide61 {
  background-image: url("../01_Images/UCL_BA/KE_XU.png");
}
.slide62 {
  background-image: url("../01_Images/UCL_BA/Kelly_Kok.png");
}
.slide63 {
  background-image: url("../01_Images/UCL_BA/Kunal_Kalani.png");
}
.slide64 {
  background-image: url("../01_Images/UCL_BA/Kwok Chin_Hung.png");
}
.slide65 {
  background-image: url("../01_Images/UCL_BA/Kyriakos_Leonidou.png");
}

.slide66 {
  background-image: url("../01_Images/UCL_BA/Lavin_Ge Tian.png");
}
.slide67 {
  background-image: url("../01_Images/UCL_BA/Lei_Pu.png");
}
.slide68 {
  background-image: url("../01_Images/UCL_BA/Lily_Pham.png");
}
.slide69 {
  background-image: url("../01_Images/UCL_BA/Liuqing_Yang.png");
}

.slide70 {
  background-image: url("../01_Images/UCL_BA/Lu_Lu.png");
}
.slide71 {
  background-image: url("../01_Images/UCL_BA/Luke_Botbol.png");
}
.slide72 {
  background-image: url("../01_Images/UCL_BA/Maie_Elzeiny.png");
}
.slide72a {
  background-image: url("../01_Images/UCL_BA/Marc_Cheah.JPEG");
}
.slide73 {
  background-image: url("../01_Images/UCL_BA/Maria Paz_Caniza Zaldivar.png");
}
.slide74 {
  background-image: url("../01_Images/UCL_BA/Meghana_Patakota.png");
}

.slide75 {
  background-image: url("../01_Images/UCL_BA/Mengjiao_Wang.png");
}
.slide76 {
  background-image: url("../01_Images/UCL_BA/Michael_Kaempf.PNG");
}
.slide77 {
  background-image: url("../01_Images/UCL_BA/Mingyuan_Gao.png");
}
.slide78 {
  background-image: url("../01_Images/UCL_BA/Mingzhen_Mao.png");
}
.slide79 {
  background-image: url("../01_Images/UCL_BA/Mofei_Yao.png");
}

.slide80 {
  background-image: url("../01_Images/UCL_BA/Monica_Diep.png");
}
.slide81 {
  background-image: url("../01_Images/UCL_BA/Neil Sam_Soon.PNG");
}
.slide82 {
  background-image: url("../01_Images/UCL_BA/Nicoletta_Pontelli.png");
}
.slide83 {
  background-image: url("../01_Images/UCL_BA/Niklas_Marx.png");
}
.slide84 {
  background-image: url("../01_Images/UCL_BA/Nikola_Barinova.png");
}

.slide85 {
  background-image: url("../01_Images/UCL_BA/Oliver_Lockett.png");
}
.slide86 {
  background-image: url("../01_Images/UCL_BA/Paohsien_Wan.png");
}
.slide87 {
  background-image: url("../01_Images/UCL_BA/Pavlos_Pettas.png");
}
.slide88 {
  background-image: url("../01_Images/UCL_BA/Peng_Wang.png");
}
.slide89 {
  background-image: url("../01_Images/UCL_BA/Phoebe_Wood.png");
}

.slide90 {
  background-image: url("../01_Images/UCL_BA/Pim_Linnsen.png");
}
.slide91 {
  background-image: url("../01_Images/UCL_BA/Pinxin_Xu.png");
}
.slide92 {
  background-image: url("../01_Images/UCL_BA/Quanxin_Yan.png");
}
.slide93 {
  background-image: url("../01_Images/UCL_BA/Rafia_Anowar.png");
}
.slide94 {
  background-image: url("../01_Images/UCL_BA/Robert_Kokarev.png");
}

.slide95 {
  background-image: url("../01_Images/UCL_BA/Rosie_Imarah.png");
}
.slide96 {
  background-image: url("../01_Images/UCL_BA/XXXX.png");
}
.slide97 {
  background-image: url("../01_Images/UCL_BA/Ruilin_Yao.png");
}
.slide98 {
  background-image: url("../01_Images/UCL_BA/Ruixi_Zhu.png");
}
.slide99 {
  background-image: url("../01_Images/UCL_BA/Runbo_Zhan.png");
}

.slide100 {
  background-image: url("../01_Images/UCL_BA/Ruobing_Bai.png");
}
.slide101 {
  background-image: url("../01_Images/UCL_BA/Saajit_Irfahn.png");
}
.slide102 {
  background-image: url("../01_Images/UCL_BA/Sahithya_Mahadevan.png");
}
.slide103 {
  background-image: url("../01_Images/UCL_BA/Salome_Khvistani.PNG");
}
.slide104 {
  background-image: url("../01_Images/UCL_BA/Sarah_Hussien.png");
}

.slide105 {
  background-image: url("../01_Images/UCL_BA/Sebastian_Cheng.png");
}
.slide106 {
  background-image: url("../01_Images/UCL_BA/Sharmi_Shanmugalingam.png");
}
.slide107 {
  background-image: url("../01_Images/UCL_BA/Shiyan_Wang.png");
}
.slide108 {
  background-image: url("../01_Images/UCL_BA/Shuyue_Wang.png");
}
.slide109 {
  background-image: url("../01_Images/UCL_BA/Siyu_Lin.png");
}

.slide110 {
  background-image: url("../01_Images/UCL_BA/Siyuan_Tao.png");
}
.slide111 {
  background-image: url("../01_Images/UCL_BA/Sultan_Al Awar.png");
}
.slide112 {
  background-image: url("../01_Images/UCL_BA/Thomas_Belin.png");
}
.slide113 {
  background-image: url("../01_Images/UCL_BA/Thyrsos_Makloklas.png");
}
.slide114 {
  background-image: url("../01_Images/UCL_BA/Valentina_Isbasoiu.png");
}

.slide115 {
  background-image: url("../01_Images/UCL_BA/Vanessa_Sukanta.png");
}
.slide116 {
  background-image: url("../01_Images/UCL_BA/Wanmeng_Zhao.png");
}
.slide117 {
  background-image: url("../01_Images/UCL_BA/Wu (Ashley)_Xinyu.png");
}
.slide118 {
  background-image: url("../01_Images/UCL_BA/Xiaohan_Wu.png");
}
.slide119 {
  background-image: url("../01_Images/UCL_BA/Xiaolin (Serina)_Zheng.png");
}

.slide120 {
  background-image: url("../01_Images/UCL_BA/Xiaoxuan_Wu.png");
}
.slide121 {
  background-image: url("../01_Images/UCL_BA/Xiaoyan_Chu.png");
}
.slide122 {
  background-image: url("../01_Images/UCL_BA/Xihang_Zhou.png");
}
.slide123 {
  background-image: url("../01_Images/UCL_BA/Xila_Xue.png");
}
.slide124 {
  background-image: url("../01_Images/UCL_BA/Xingyue_Li.png");
}

.slide125 {
  background-image: url("../01_Images/UCL_BA/Yang_Zheng.png");
}
.slide126 {
  background-image: url("../01_Images/UCL_BA/Yanting_Lin.png");
}
.slide127 {
  background-image: url("../01_Images/UCL_BA/Yaqi_Zheng.png");
}
.slide128 {
  background-image: url("../01_Images/UCL_BA/Yerong_Xu.png");
}
.slide129 {
  background-image: url("../01_Images/UCL_BA/Yibo_He.png");
}


.slide130 {
  background-image: url("../01_Images/UCL_BA/Yijia_Feng.png");
}
.slide131 {
  background-image: url("../01_Images/UCL_BA/Yikang_Zhou.png");
}
.slide132 {
  background-image: url("../01_Images/UCL_BA/Yina(Jason)_Chen.png");
}
.slide133 {
  background-image: url("../01_Images/UCL_BA/Yiqing_Zheng.png");
}
.slide134 {
  background-image: url("../01_Images/UCL_BA/Yongxuan_He.png");
}

.slide135 {
  background-image: url("../01_Images/UCL_BA/Yu_Wei.png");
}
.slide136 {
  background-image: url("../01_Images/UCL_BA/Yuan_Yao.png");
}
.slide137 {
  background-image: url("../01_Images/UCL_BA/Yuan_Gu.png");
}
.slide138 {
  background-image: url("../01_Images/UCL_BA/Yuchen_Huang.png");
}
.slide139 {
  background-image: url("../01_Images/UCL_BA/Yuchen_Wu.png");
}


.slide140 {
  background-image: url("../01_Images/UCL_BA/Yu-Chien_Hsieh.png");
}
.slide141 {
  background-image: url("../01_Images/UCL_BA/Yue_Zhang.png");
}
.slide142 {
  background-image: url("../01_Images/UCL_BA/Yueting_Yu.png");
}
.slide143 {
  background-image: url("../01_Images/UCL_BA/Yueyan_Wang.png");
}
.slide144 {
  background-image: url("../01_Images/UCL_BA/Yuhan_Nie.png");
}

.slide145 {
  background-image: url("../01_Images/UCL_BA/Yushan_He.png");
}
.slide146 {
  background-image: url("../01_Images/UCL_BA/Yutong_Li.png");
}
.slide147 {
  background-image: url("../01_Images/UCL_BA/Yuxiao_Liu.png");
}
.slide148 {
  background-image: url("../01_Images/UCL_BA/Yuxin_Chen.png");
}
