@font-face {
  font-family: 'Emberly';
  src: url('Fonts/Emberly/Emberly-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('Fonts/Georgia/Georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  width:100vw;
  height: 100vh;
  justify-content: center;
  background-color: black;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 90vh;
  transition: opacity .6s ease;
}
.swiper-container.swiper-container-coverflow {
  padding-top: 2%;
}
.swiper-slide {
  background-position: bottom;
  background-size: 40%;
  background-repeat: no-repeat;
  height: 50vh !important;
  box-shadow: 1px 3px 3px rgba(0,0,0,0.2);
}

.swiper-slide .content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  padding-left: 5%;
  color: #fff;
}

.swiper-slide .content .title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 31%;
  color: white;
  position: relative;
  z-index:1;
  font-family: "Emberly";
  text-shadow: 4px 4px 8px orange;
}

.swiper-slide .content .caption {
  display: inline-block;
  font-size: 16px;
  line-height: 1.4;
  margin-left: 28%;
  margin-right: 32%;
  position: relative;
  z-index:1;
  font-family: "Georgia";
}

.swiper-slide .content .title:hover {
  color: orange;
}


.swiper-slide::after {
  content:"";
  background-image: inherit;
  background-position: bottom;
  background-size: inherit;
  background-repeat: no-repeat;
  transform:  scaleY(-1);
  width: inherit;
  height:40%;
  position: absolute;
  bottom: -41%;
  opacity: 1;
}

.swiper-slide::before {
  z-index: 1;
  content:"";
  width: inherit;
  height:42%;
  position: absolute;
  bottom: -42%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #000000);
}
